biopython==1.84
certifi==2024.12.14
charset-normalizer==3.4.1
fdstools==2.1.1
idna==3.10
isal==1.7.1
numpy==2.2.0
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
six==1.17.0
strnaming==1.2.0
tssv==1.1.2
tzdata==2024.2
urllib3==2.3.0
xopen==2.0.2
zlib-ng==0.5.1
